<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luma3DS A9LH Payload Generator</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Luma3DS A9LH Payload Generator <small>by Eric Chu</small></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 form-horizontal">
          <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">sdmc:/</span>
                <input id="path" maxlength="<%= maxLength %>" placeholder="<%= placeholder %>" type="text" class="form-control" />
                <span class="input-group-btn">
                  <input type="button" value="Download" id="download" class="btn btn-default" />
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a id="generate-link" href="#" data-toggle="modal" data-target="#link-modal">Generate Link</a></li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <label>
                <input type="radio" id="latest" value="latest" name="version" checked /> Latest Commit (<%= latest %>)
              </label>
              <label>
                <input type="radio" id="release" value="release" name="version" /> Latest Release (<%= release %>)
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Download the latest Luma3DS with customized payload path!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Examples</h2>
          <ul>
            <li>arm9payload.bin</li>
            <li>a9lh/Luma3DS.bin</li>
            <li>arm9select/default.bin</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Notes</h2>
          <ul>
            <li>Do not put a leading slash</li>
            <li>Use forward slashes</li>
            <li>Path can be 37 characters max</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Resources</h2>
          <ul>
            <li>#3dshacks on Rizon</li>
            <li><a href="https://www.reddit.com/r/3dshacks">/r/3dshacks</a></li>
            <li><a href="http://github.com/AuroraWright/Luma3DS">Luma3DS</a></li>
            <li><a href="http://astronautlevel2.github.io/Luma3DS/">Binaries</a></li>
            <li><a href="https://github.com/ericchu94/luma3ds">Source code</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/assets/index.js"></script>
    <div class="modal fade" id="link-modal" tabindex="-1" role="diaalog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Generate Link</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <a id="link"></a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
